<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{..img/favicon.ico}" type="image/x-con">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Handle care - онлайн сервис с доставкой от курьеров из числа волонтёров.</title>
</head>
<body>
<header>
    <div th:replace="/fragments/header_footer :: personal_header"></div>
</header>
<div class="container">
    <div th:replace="/fragments/navbars :: recipient_navbar"></div>
    <div class="login-box" id="order">
        <h2>Новая заявка</h2>
        <form th:action="@{/postOrder}" method="post" th:object="${order}">
            <div class="user-box">
                <input type="text" name="market" required=""  field="*{market}">
                <label>Магазин</label>
            </div>
            <div class="user-box">
                <input type="text" name="address" required="" field="*{address}">
                <label>Адрес</label>
            </div>
            <div class="user-box">
                <label>Товары</label>
               <textarea rows="6" cols="38" maxlength="240" id="itemsArea" required="" name="item" field="*{item}"> </textarea>
            </div>
            <input type="submit" value="Подтвердить">
            <input type="reset" value="Отмена">
        </form>
    </div>
</div>

<footer>
    <div th:replace="fragments/header_footer :: user_footer"></div>
</footer>

<script type="text/javascript" th:src="@{../js/js.js}"></script>
</body>
</html>