<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{img/favicon.ico}" type="image/x-con">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Handle care - онлайн сервис с доставкой от курьеров из числа волонтёров.</title>
</head>
<body>
<header>
    <div th:replace="fragments/header_footer :: header"></div>
</header>

<section id="section">
    <img th:src="@{img/stars.png}" id="stars">
    <img th:src="@{img/clouds.png}" id="clouds">
    <img th:src="@{img/deliver1.png}" id="deliver">
    <img th:src="@{img/building.png}" id="building">
</section>

<div class="animated-title">
    <div class="text-top">
        <div>
            <span>присоединяйтесь</span>
            <span>к нам</span>
        </div>
    </div>
    <div class="text-bottom">
        <div>прямо сейчас!</div>
    </div>
</div>

<div class="description" id="description">
    <h1>Вступай в семью Handle Care</h1>
    <p>Для регистрации введи все необходимые данные в форме, затем, после проверки, с тобой свяжется куратор для
        проведения собеседования. Или же приезжай сразу к нам в офис, чтоб начать помогать в этот же день! <a href="registration.html">Присоединяйся</a> к нам прямо сейчас!
    </p>
</div>

<div class="sec">
    <div class="cashDescription">
        <img th:src="@{img/likeWpng.png}" width="40">
        <h3>Исполните свой гражданский долг</h3>
        <p>Будьте богаты не только финансово, но и душевно. Помочь может каждый. Все, что для этого
            нужно — желание. Желание помочь. </p>
    </div>

    <div class="profileDescription">
        <img th:src="@{img/bycicleW.png}" width="40">
        <h3>Оформитесь курьером прямо сейчас!</h3>
        <p>Отправьте запрос к нам на электронный адрес или же позвоните по телефону, чтобы согласовать все, что нужно
            для начала волонтёрской деятельности!</p>
    </div>
    <div class="bagDescription">
        <img th:src="@{img/handsshakeW.png}" width="40">
        <h3>Помощь другим за пару кликов</h3>
        <p>Помочь другому проще простого! В нашем сайте легко разобраться, при наличии заявки на доставку в вашем районе
            вам придёт уведомление, останется только откликнуться и в путь!</p>
    </div>

</div>
<footer>
    <div th:replace="fragments/header_footer :: footer"></div>
</footer>
<script type="text/javascript" th:src="@{js/js.js}"></script>
</body>
</html>