<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{img/favicon.ico}" type="image/x-con">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Handle care - онлайн сервис с доставкой от курьеров из числа волонтёров.</title>
</head>
<body>
<header>
    <ul class="top-left">
        <li><a href="home" class="logo" title="Перейти на главную страницу"><img th:src="@{img/logo1.png}" alt="logo"
                                                                                 width="100"></a></li>
        <li><a href="recipient">Я получатель</a></li>
        <li><a href="deliverInfo">Я доставщик</a></li>
    </ul>
    <ul class="top-right">
        <li><a href="personal/newOrder">Опубликовать заявку</a></li>
        <li><span  title="Войдите или зарегистрируйтесь">
                <img th:src="@{img/userpic.png}" height="20" onclick="hide()" id="userPic"></span></li>
        <li><a href="authorization">Войти</a></li>
    </ul>
    <div id="popU" onclick="hide()" class="popup_block">
        <a href="personal/newOrder">Новая заявка</a>
        <a href="personal/active">Активные заявки</a>
        <a href="personal/history">Прошлые заявки</a>
        <a href="personal/personal">Личные данные</a>
        <a href="personal/logout">Выход</a>
    </div>

</header>

<section id="section">
    <img th:src="@{img/stars.png}" id="stars">
    <img th:src="@{img/clouds.png}" id="clouds">
    <img th:src="@{img/deliver1.png}" id="deliver">
    <img th:src="@{img/building.png}" id="building">
</section>

<div class="animated-title">
    <div class="text-top">
        <div>
            <span>присоединяйтесь</span>
            <span>к нам</span>
        </div>
    </div>
    <div class="text-bottom">
        <div>прямо сейчас!</div>
    </div>
</div>

<div class="description" id="description">
    <h1>Вступай в семью Handle Care</h1>
    <p>Для регистрации введи все необходимые данные в форме, затем, после проверки, с тобой свяжется куратор для
        проведения собеседования. Или же приезжай сразу к нам в офис, чтоб начать помогать в этот же день! <a href="registration.html">Присоединяйся</a> к нам прямо сейчас!
    </p>
</div>

<div class="sec">
    <div class="cashDescription">
        <img th:src="@{img/likeWpng.png}" width="40">
        <h3>Исполните свой гражданский долг</h3>
        <p>Будьте богаты не только финансово, но и душевно. Помочь может каждый. Все, что для этого
            нужно — желание. Желание помочь. </p>
    </div>

    <div class="profileDescription">
        <img th:src="@{img/bycicleW.png}" width="40">
        <h3>Оформитесь курьером прямо сейчас!</h3>
        <p>Отправьте запрос к нам на электронный адрес или же позвоните по телефону, чтобы согласовать все, что нужно
            для начала волонтёрской деятельности!</p>
    </div>
    <div class="bagDescription">
        <img th:src="@{img/handsshakeW.png}" width="40">
        <h3>Помощь другим за пару кликов</h3>
        <p>Помочь другому проще простого! В нашем сайте легко разобраться, при наличии заявки на доставку в вашем районе
            вам придёт уведомление, останется только откликнуться и в путь!</p>
    </div>

</div>
<footer>
    <ul class="bot-left">
        <li><a href="deliver">Стать курьером</a></li>
        <li><a href="https://www.govvrn.ru/priemnaa" target="_blank">Контакты</a></li>
        <li><a href="https://www.govvrn.ru/covid-19" target="_blank">Как мы боремся с COVID‑19</a></li>
    </ul>
    <div class="bot-center"><p>Сервис работает на волонтёрских началах при поддержке правительства Воронежской области
        и анонимных спонсоров. Для оказания услуг необходимо предоставить документы, подтвержающие необходимость в
        оказании помощи. Для подробностей воспользуйтесь нашими контактами.</p></div>
    <div class="bot-right">
        <a href="https://www.instagram.com/" target="_blank" title="Мы в instagram"><img th:src="@{img/Instagram.d7b7f347.png}" alt="instagram logo"></a>
        <a href="https://www.facebook.com"  target="_blank" title="Мы в facebook"><img th:src="@{img/Facebook.ad6af423.png}" alt="facebook logo"></a>
        <a href="https://www.youtube.com/"  target="_blank" title="Мы в youtube"><img th:src="@{img/youtube.1e7fdf25.png}" alt="youtube logo"></a>
        <a href="https://www.tiktok.com/"  target="_blank" title="Мы в ticktock"><img th:src="@{img/Tiktok.5612f743.png}" alt="ticktock logo"></a>
        <a href="https://vk.com/"  target="_blank" title="Мы в vkontakte"><img th:src="@{img/Vkontakte.fed6cf98.png}" alt="vkontakte logo"></a>
        <a href="https://ok.ru/"  target="_blank" title="Мы в odnoklassniki"><img th:src="@{img/odnoklassniki.43ef58be.png}" alt="odnoklassniki logo"></a>
    </div>
</footer>
<script type="text/javascript" th:src="@{js/js.js}"></script>
</body>
</html>