<!DOCTYPE html>
<html lang="ru">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{img/favicon.ico}" type="image/x-con">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Handle care - онлайн сервис с доставкой от курьеров из числа волонтёров.</title>
</head>
<body>
<header>
<div th:replace="fragments/header_footer :: header"></div>

</header>
<section>
    <h2 id="textH">Помогать другим - это просто!</h2>
    <img th:src="@{img/stars.png}" id="stars">
    <img th:src="@{img/moon.png}" id="moon">
    <img th:src="@{img/mountain.png}" id="mountain">
    <img th:src="@{img/pine.png}" id="pine">
    <img th:src="@{img/houses.png}" id="houses">
</section>
<div class="description">
    <h1>Handle care</h1>
    <p>Handle care - онлайн сервис с доставкой от курьеров из числа волонтёров.
        Приносим домой товары для дома, косметику, продукты и всё нужное для комфортного быта из любой точки продаж.
        В каждом районе есть свои курьеры, которые готовы вам помочь. Любой желающий также может оформиться как
        курьер.</p>
</div>
<div class="sec">
    <div class="cashDescription">
        <img th:src="@{img/cashW2.png}" width="40">
        <h3>Ваша доставка полностью бесплатна</h3>
        <p>Откуда бы вам не нужны были товары, из продуктового, аптеки, хозяйственного рынка, курьеры из числа
            добровольцев доставят вам её абсолютно бесплатно. Вы платите только за товар.</p>
    </div>

    <div class="profileDescription">
        <img th:src="@{img/profileW.png}" width="40">
        <h3>Доверяйте своим поставщикам</h3>
        <p>Мы стараемся узнать ваших будущих курьеров как можно лучше, мы проверяем отзывы, профили и паспортные данные
            всех волонтёров, чтобы вы знали, кому доверяете товары.</p>
    </div>
    <div class="bagDescription">
        <img th:src="@{img/bagW.png}" width="40">
        <h3>Покупки за пару кликов</h3>
        <p>Получить доставку проще простого! В нашем сайте легко разобраться, оформите заявку со списком, на неё
            откликнется свободный курьер, и всё готово!</p>
    </div>

</div>

<footer>
    <div th:replace="fragments/header_footer :: footer"></div>
</footer>
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>-->
<script type="text/javascript" th:src="@{js/js.js}"></script>
</body>
</html>