<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{img/favicon.ico}" type="image/x-con">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Handle care - онлайн сервис с доставкой от курьеров из числа волонтёров.</title>
</head>
<body>
<header>
    <div th:replace="fragments/header_footer :: header"></div>
</header>
<div class="container">
    <div class="login-box" id="order">
        <h2>Вы уверены, что хотите выйти?</h2>
        <form action="/logout" method="post">
            <input type="submit" value="Подтвердить">
            <a href="home">Назад</a>
        </form>
    </div>
</div>
<footer>
    <div th:replace="fragments/header_footer :: footer"></div>
</footer>

<script type="text/javascript" th:src="@{../js/js.js}"></script>
</body>
</html>