<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{img/favicon.ico}" type="image/x-con">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Handle care - онлайн сервис с доставкой от курьеров из числа волонтёров.</title>
</head>
<body>
<header>
    <ul class="top-left">
        <li><a href="home" class="logo" title="Перейти на главную страницу"><img th:src="@{img/logo1.png}" alt="logo"
                                                                                 width="100"></a></li>
        <li><a href="recipient">Я получатель</a></li>
        <li><a href="deliverInfo">Я доставщик</a></li>
    </ul>
    <ul class="top-right">
        <li><a href="personal/newOrder">Опубликовать заявку</a></li>
        <li><span  title="Войдите или зарегистрируйтесь">
                <img th:src="@{img/userpic.png}" height="20" onclick="hide()" id="userPic"></span></li>
        <li><a href="authorization">Войти</a></li>
    </ul>
    <div id="popU" onclick="hide()" class="popup_block">
        <a href="personal/newOrder">Новая заявка</a>
        <a href="personal/active">Активные заявки</a>
        <a href="personal/history">Прошлые заявки</a>
        <a href="personal/personal">Личные данные</a>
        <a href="personal/logout">Выход</a>
    </div>

</header>
<section id="section">
    <img th:src="@{img/stars.png}" id="stars">
    <img th:src="@{img/orderer.png}" id="orderer">
</section>

<div class="animated-title">
    <div class="text-top">
        <div>
            <span>получите</span>
            <span>все необходимое</span>
        </div>
    </div>
    <div class="text-bottom">
        <div>прямо сейчас!</div>
    </div>
</div>

<div class="description" id="description">
    <h1>Вступайте в семью Handle Care</h1>
    <p>Для регистрации заполните все необходимые поля в форме, затем, после проверки, с вами свяжется куратор для
        подтверждения данных. Проверка занимает не более получаса. Затем можно будет заказать вашу первую доставку от
        проверенных курьеров вашего района! <a href="registration.html">Присоединяйтесь</a> к нам прямо сейчас!
    </p>
</div>

<div class="sec">
    <div class="cashDescription">
        <img th:src="@{img/boxerW.png}" width="40">
        <h3>Доступны любые товары в вашем районе</h3>
        <p>Вы просто указываете название торговой точки или её адрес и список товаров, курьер купит и доставит к вам все необходимое.
        Доставка абсолютно бесплатна, вы платите только за сам товар.</p>
    </div>

    <div class="profileDescription">
        <img th:src="@{img/operatorW.png}" width="40">
        <h3>Простая регистрация</h3>
        <p>Заполните все необходимые поля или же, если у вас возникли любые трудности с этим, позвоните нам на горячую линию,
        разберёмся вместе и решим все проблемы!</p>
    </div>
    <div class="bagDescription">
        <img th:src="@{img/handsW.png}" width="40">
        <h3>Доставка за пару кликов</h3>
        <p>Всё очень просто! Оставляете заявку в на специальной странице, а свободный курьер отзывается и всё вам доставляет!
        Также по абсолютно любым вопросам работы сервиса вы можете позвонить на нашу горячую линию!</p>
    </div>

</div>
<footer>
    <ul class="bot-left">
        <li><a href="deliver">Стать курьером</a></li>
        <li><a href="https://www.govvrn.ru/priemnaa" target="_blank">Контакты</a></li>
        <li><a href="https://www.govvrn.ru/covid-19" target="_blank">Как мы боремся с COVID‑19</a></li>
    </ul>
    <div class="bot-center"><p>Сервис работает на волонтёрских началах при поддержке правительства Воронежской области
        и анонимных спонсоров. Для оказания услуг необходимо предоставить документы, подтвержающие необходимость в
        оказании помощи. Для подробностей воспользуйтесь нашими контактами.</p></div>
    <div class="bot-right">
        <a href="https://www.instagram.com/" target="_blank" title="Мы в instagram"><img th:src="@{img/Instagram.d7b7f347.png}" alt="instagram logo"></a>
        <a href="https://www.facebook.com"  target="_blank" title="Мы в facebook"><img th:src="@{img/Facebook.ad6af423.png}" alt="facebook logo"></a>
        <a href="https://www.youtube.com/"  target="_blank" title="Мы в youtube"><img th:src="@{img/youtube.1e7fdf25.png}" alt="youtube logo"></a>
        <a href="https://www.tiktok.com/"  target="_blank" title="Мы в ticktock"><img th:src="@{img/Tiktok.5612f743.png}" alt="ticktock logo"></a>
        <a href="https://vk.com/"  target="_blank" title="Мы в vkontakte"><img th:src="@{img/Vkontakte.fed6cf98.png}" alt="vkontakte logo"></a>
        <a href="https://ok.ru/"  target="_blank" title="Мы в odnoklassniki"><img th:src="@{img/odnoklassniki.43ef58be.png}" alt="odnoklassniki logo"></a>
    </div>
</footer>
<script type="text/javascript" th:src="@{js/js.js}"></script>
</body>
</html>