<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{img/favicon.ico}" type="image/x-con">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Handle care - онлайн сервис с доставкой от курьеров из числа волонтёров.</title>
</head>
<body>
<header>
    <div th:replace="fragments/header_footer :: header"></div>
</header>
<section id="authorization_sec">
    <img th:src="@{img/stars.png}" id="stars">
    <div class="login-box">
        <h2>Введите новый пароль</h2>
        <p th:if="${message}" th:text="${message}" style="color: white"></p>
        <form action="./resetPassword" method="post">
            <input th:type="hidden" name="token" th:value="${token}" />
            <div class="user-box">
                <input type="password"  id="password" name="password"  required autofocus>
                <label>Пароль</label>
            </div>
<!--            <div class="user-box">-->
<!--                <input type="password" required oninput="checkPasswordMatch(this);"/>-->
<!--                <label>Повторите пароль</label>-->
<!--            </div>-->
            <input type="submit" value="Подтвердить">
<!--            <input type="reset" value="Отмена">-->
            <a href="home">Назад</a>
        </form>
    </div>
</section>
<footer>
<!--<footer id="authorization_footer">-->
    <div th:replace="fragments/header_footer :: footer"></div>
</footer>

<script type="text/javascript" th:src="@{js/js.js}"></script>
</body>
</html>