<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{..img/favicon.ico}" type="image/x-con">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>Handle care - онлайн сервис с доставкой от курьеров из числа волонтёров.</title>
</head>
<body>
<header>
    <ul class="top-left">
        <li><a href="../home" class="logo" title="Перейти на главную страницу"><img th:src="@{../img/logo1.png}"
                                                                                    alt="logo"
                                                                                    width="100"></a></li>
        <li><a href="../recipient">Я получатель</a></li>
        <li><a href="../deliverInfo">Я доставщик</a></li>
    </ul>
    <ul class="top-right">
        <li><a href="requests">Рассмотреть заявки</a></li>
        <li><span title="Войдите или зарегистрируйтесь">
               <img th:src="@{../img/userpic.png}" height="20" onclick="hide()" id="userPic"></span></li>
        <li><a href="../authorization">Войти</a></li>
    </ul>
    <div id="popU" onclick="hide()" class="popup_block">
        <a href="requests">Заявки</a>
        <a href="allUsers">Пользователи</a>
        <a href="allDelivers">Курьеры</a>
        <a href="logout">Выход</a>
    </div>

</header>
<div class="container">
    <div class="navbar">
        <ul>
            <li><a href="requests">Заявки пользователей</a></li>
            <li><a href="allUsers">Все пользователи</a></li>
            <li><a href="allDelivers">Все курьеры</a></li>
            <li><a href="logout">Выход</a></li>
        </ul>
    </div>
    <br>
    <h2 style="margin-left: 15%">Список всех курьеров</h2>
    <br>
    <table id="adminTable">
        <tr>
            <th>Логин</th>
            <th>Пароль</th>
            <th>E-mail</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Номер телефона</th>
            <th>Район</th>
            <th>Статус</th>
        </tr>
        <tr th:each="deliver:${delivers}">
            <td th:text="${deliver.login}"></td>
            <td th:text="${deliver.password}"></td>
            <td th:text="${deliver.email}"></td>
            <td th:text="${deliver.name}"></td>
            <td th:text="${deliver.lastName}"></td>
            <td th:text="${deliver.phoneNumber}"></td>
            <td th:text="${deliver.district}"></td>
            <td th:text="${deliver.status}"></td>
        </tr>
    </table>
</div>
<footer id="order_footer">
    <ul class="bot-left">
        <li><a href="../deliver">Стать курьером</a></li>
        <li><a href="https://www.govvrn.ru/priemnaa" target="_blank">Контакты</a></li>
        <li><a href="https://www.govvrn.ru/covid-19" target="_blank">Как мы боремся с COVID‑19</a></li>
    </ul>
    <div class="bot-center"><p>Сервис работает на волонтёрских началах при поддержке правительства Воронежской области
        и анонимных спонсоров. Для оказания услуг необходимо предоставить документы, подтвержающие необходимость в
        оказании помощи. Для подробностей воспользуйтесь нашими контактами.</p></div>
    <div class="bot-right">
        <a href="https://www.instagram.com/" target="_blank" title="Мы в instagram"><img
                th:src="@{../img/Instagram.d7b7f347.png}" alt="instagram logo"></a>
        <a href="https://www.facebook.com" target="_blank" title="Мы в facebook"><img
                th:src="@{../img/Facebook.ad6af423.png}" alt="facebook logo"></a>
        <a href="https://www.youtube.com/" target="_blank" title="Мы в youtube"><img
                th:src="@{../img/youtube.1e7fdf25.png}" alt="youtube logo"></a>
        <a href="https://www.tiktok.com/" target="_blank" title="Мы в ticktock"><img
                th:src="@{../img/Tiktok.5612f743.png}" alt="ticktock logo"></a>
        <a href="https://vk.com/" target="_blank" title="Мы в vkontakte"><img th:src="@{../img/Vkontakte.fed6cf98.png}"
                                                                              alt="vkontakte logo"></a>
        <a href="https://ok.ru/" target="_blank" title="Мы в odnoklassniki"><img
                th:src="@{../img/odnoklassniki.43ef58be.png}" alt="odnoklassniki logo"></a>
    </div>
</footer>

<script type="text/javascript" th:src="@{../js/js.js}"></script>
</body>
</html>