<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{..img/favicon.ico}" type="image/x-con">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>Handle care - онлайн сервис с доставкой от курьеров из числа волонтёров.</title>
</head>
<body>
<header>
    <div th:replace="/fragments/header_footer :: administration_header"></div>

</header>
<div class="container">
<div th:replace="/fragments/navbars :: admin_navbar"></div>
    <br>
    <h2 style="margin-left: 15%">Список всех курьеров</h2>
    <br>
    <table id="adminTable">
        <tr>
            <th>Логин</th>
            <th>Пароль</th>
            <th>E-mail</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Номер телефона</th>
            <th>Район</th>
            <th>Статус</th>
        </tr>
        <tr th:each="deliver:${delivers}">
            <td th:text="${deliver.login}"></td>
            <td th:text="${deliver.password}"></td>
            <td th:text="${deliver.email}"></td>
            <td th:text="${deliver.name}"></td>
            <td th:text="${deliver.lastName}"></td>
            <td th:text="${deliver.phoneNumber}"></td>
            <td th:text="${deliver.district}"></td>
            <td th:text="${deliver.status}"></td>
        </tr>
    </table>
</div>
<footer>
    <div th:replace="fragments/header_footer :: user_footer"></div>
</footer>

<script type="text/javascript" th:src="@{../js/js.js}"></script>
</body>
</html>