<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{..img/favicon.ico}" type="image/x-con">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Handle care - онлайн сервис с доставкой от курьеров из числа волонтёров.</title>
</head>
<body>
<header>
    <div th:replace="/fragments/header_footer :: administration_header"></div>
</header>
<div class="container">
    <div th:replace="/fragments/navbars :: admin_navbar"></div>
    <br>
    <h2 style="margin-left: 15%">Заявки курьеров</h2>
    <br>
    <table id="adminTable">
        <tr>
            <th>Логин</th>
            <th>Пароль</th>
            <th>E-mail</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Номер телефона</th>
<!--            <th>Статус</th>-->
            <th>Активировать</th>
        </tr>
        <tr th:each="deliver:${delivers}">
            <td th:text="${deliver.login}"></td>
            <td th:text="${deliver.password}"></td>
            <td th:text="${deliver.email}"></td>
            <td th:text="${deliver.name}"></td>
            <td th:text="${deliver.lastName}"></td>
            <td th:text="${deliver.phoneNumber}"></td>
            <form  th:action="@{|/changeDeliverStatus/${deliver.id}|}"  method="post">
<!--            <td>-->
<!--                <input type="hidden" th:name="deliverId" th:value="${deliver.id}">-->
<!--                <select>-->
                    <!--                <option th:name="status" th:each="status : ${deliver.status.values()}"-->
<!--                <option th:name="status" th:each="status : ${T(com.example.handlecare.entity.enums.Status).values()}"-->
<!--                <option th:name="status" th:each="status : ${statuses}"-->
<!--                th:value="${status}" th:text="${status.name}">-->
<!--                </option>-->
<!--            </select>-->
<!--            </td>-->
            <td>
                <input style="margin: 5px" name="submit" type="submit" value="✔">
            </td>
            </form>
        </tr>
    </table>
    <br>
    <br>
    <h2 style="margin-left: 15%">Заявки пользователей</h2>
    <br>
    <table id="adminTable">
        <tr>
            <th>Логин</th>
            <th>Пароль</th>
            <th>E-mail</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Номер телефона</th>
<!--            <th>Статус</th>-->
            <th>Активировать</th>
        </tr>
        <tr th:each="recipient:${recipients}">
            <td th:text="${recipient.login}"></td>
            <td th:text="${recipient.password}"></td>
            <td th:text="${recipient.email}"></td>
            <td th:text="${recipient.name}"></td>
            <td th:text="${recipient.lastName}"></td>
            <td th:text="${recipient.phoneNumber}"></td>
            <form  th:action="@{|/changeRecipientStatus/${recipient.id}|}"  method="post">
<!--                <input type="hidden" th:name="recipientId" th:value="${recipient.id}">-->
<!--                <select>-->
<!--                    <option th:name="status" th:each="status : ${T(com.example.handlecare.entity.enums.Status).values()}"-->
<!--                            th:value="${status}" th:text="${status.name}"></option>-->
<!--                </select>-->
            <td>
                <input style="margin: 5px" name="submit" type="submit" value="✔">
            </td>
            </form>
        </tr>
    </table>
</div>
<footer>
    <div th:replace="fragments/header_footer :: user_footer"></div>
</footer>

<script type="text/javascript" th:src="@{../js/js.js}"></script>
</body>
</html>