<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{../img/favicon.ico}" type="image/x-con">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Handle care - онлайн сервис с доставкой от курьеров из числа волонтёров.</title>
</head>
<body>
<header>
    <div th:replace="/fragments/header_footer :: deliver_header"></div>
</header>
<div class="container">
    <div th:replace="/fragments/navbars :: deliver_navbar"></div>
    <h2 th:text="${orders != null} ? ${'Активные заявки'} : ${'В данный момент у вас нет активных заявок'}">В данный момент нет заявок</h2>
    <div class="activeOrder" th:each="order:${orders}" >
        <div class="deliverOrder" th:each="recipient:${order.recipient}">
            <span>Имя пользователя:</span><br>
            <span th:text="${recipient.name}">Name</span> <br>
            <span>Фамилия пользователя:</span><br>
            <span th:text="${recipient.lastName}">Surname</span> <br>
            <span>Адрес:</span><br>
            <span th:text="${recipient.address}">Address</span> <br>
        </div>
        <div class="orderItem" >
            <span>Магазин:</span><br>
            <span th:text="${order.market}">Store</span> <br>
            <span>Товар:</span><br>
            <span th:text="${order.item}">Items</span> <br>
            <span>Адрес магазина:</span><br>
            <span th:text="${order.address}">Address</span> <br>
            <form th:method="post"  th:action="@{|/deliverActiveOrder/${order.id}|}" >
            <button type="submit" name="submit">Заказ выполнен</button>
            </form>
        </div>
    </div>
    </div>



<footer>
    <div th:replace="fragments/header_footer :: user_footer"></div>
</footer>

<script type="text/javascript" th:src="@{../js/js.js}"></script>
</body>
</html>