<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{../img/favicon.ico}" type="image/x-con">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Handle care - онлайн сервис с доставкой от курьеров из числа волонтёров.</title>
</head>
<body>
<header>
    <div th:replace="/fragments/header_footer :: deliver_header"></div>
</header>
<div class="container">
    <div th:replace="/fragments/navbars :: deliver_navbar"></div>
    <div class="personalForm">
        <div class="login-box" id="personal">
            <p th:if="${message != null}"> [[${message}]] </p>
            <h2>Личные данные</h2>
            <form method="post" th:name="updateData" th:action="@{/updateData}" th:object="${deliver}">
               <input type="hidden" th:field="*{id}">
                <div class="user-box">
                    <input type="email" name="" required="" th:field="*{email}">
                    <label>E-mail</label>
                </div>
                <div class="user-box">
                    <input type="password" name="" required="" th:field="*{password}">
                    <label>Пароль</label>
                </div>
                <div class="user-box">
                    <input type="text" name="" required="" th:field="*{name}">
                    <label>Имя</label>
                </div>
                <div class="user-box">
                    <input type="text" name="" required="" th:field="*{lastName}">
                    <label>Фамилия</label>
                </div>
                <div class="user-box">
                    <input type="text" name="" required="" th:field="*{phoneNumber}">
                    <label>Номер телефона</label>
                </div>
                <div class="user-box">
                    <input type="text" name="" required="" th:field="*{district}">
                    <label>Район</label>
                </div>
                <input type="submit" value="Сохранить">
            </form>
        </div>
    </div>
</div>

<footer>
    <div th:replace="fragments/header_footer :: user_footer"></div>
</footer>

<script type="text/javascript" th:src="@{../js/js.js}"></script>
</body>
</html>